/* Ampersand */
@font-face {
	font-family: Ampersand;
	src: url('font/Fragmentcore.otf'),
	 		local('Baskerville-Italic'), 
	 		local('GoudyOldStyleT-Italic'), 
	 		local('Garamond-Italic'), 
	 		local('Palatino-Italic');
	unicode-range: U+26;
}
html, body{
	margin: 0;
}
body{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	color: #414141;
}
h1,
h2, 
h3, 
h4, 
h5, 
h6{
	font-family: 'Ampersand', 'Poppins', sans-serif;
	color: #1E3746;
}
h1{
	font-weight: 600;
}
a,
a:visited{
	transition: .5s cubic-bezier(.25,.1,.3,1.5);
	color: #64D7D7;
	text-decoration: none;
}
a:hover{
	color: #1E3746;
}

label{
	color: #866d06;
}
p{
	line-height: 1.5;
}
input,
textarea {
	border: 1px solid #fff;
	border-radius: 0em 2em;
	border-radius: .5em;
	padding: 1em 1.5em;
	font-weight: 300;
    font-size: .9em;
    color: #868686;
    transition: .5s cubic-bezier(.25,.1,.3,1.5);
}
input:focus,
textarea:focus {
	background: #f5f5f5;
	border: 3px solid #64D7D7;
	outline: none;
}
input[type="checkbox"] { 
	position: absolute; 
	clip: rect(0,0,0,0); /* disable default checkbox */
	z-index: 1;
}
input[type="checkbox"] + label::before {
	content: '\a0'; /* non-break space */
	display: inline-block;
	vertical-align: .2em;
	width: 1em;
	height: 1em;
	margin-right: .3em;
	border-radius: .3em;
	background: #fff;
	text-indent: .15em;
	line-height: .65;
	transition: .5s cubic-bezier(.25,.1,.3,1.5);
}
input[type="checkbox"]:checked + label::before { 
	content: '\2713';
	background: #64D7D7;
}
input[type="checkbox"]:hover + label::before,
input[type="checkbox"]:focus + label::before{
	background: #f5f5f5;
	border: 1px solid #64D7D7;
}

button{
	cursor: pointer;
	transition: .5s cubic-bezier(.25,.1,.3,1.5);
}
button[type="submit"]{
	display: block;
	background: #64D7D7;
    color: #1E3746;
    font-size: .9em;
    margin: 1.5em auto 0;
    padding: .5em .8em;
    border: 0;
    border-radius: 50%;
	min-width: 4.5em;
   	min-height: 4.5em;
   	clear: both;
}
button[type="submit"]:visited{
	background: #64D7D7;
	color: #1E3746;
}
button[type="submit"]:hover,
button[type="submit"]:focus{
	background: #1E3746;
	color: #fff;
}
@media only screen and (max-width: 40em) {
	button[type="submit"]{
    	margin: 1em auto 0;
	}
}
@media only screen and (min-width: 64.063em) {
	button[type="submit"]{
		min-width: 5em;
	    min-height: 3em;
	    border-radius: .5em;
	}
}
#chat-lg,
#login-lg,
#mediaitem-lg,
#picture-with-subtitle-lg,
#rating-lg,
#navigation-lg,
#step-indicator-lg,
#loading-spinner-lg{
	background: #1E3746;
	width: 90%;
	margin-bottom: 2em;
}
/* /GENERIC STYLE */
/* CHAT */
#chat-lg ol{
	list-style-type: none;
	padding: 1em 0 0;
	margin-top: 1em;
}
#chat-lg li{
	background: #fff;
    font-size: .9em;
    padding: 2em 2em .5em;
    width: 50%;
    box-sizing: border-box;
    border-radius: .5em;
}
#chat-lg li:nth-of-type(2)
{
	float: left;
	margin: 0 0 2em 3em;
}
#chat-lg li:nth-of-type(1),
#chat-lg li:nth-of-type(3){
	float: right;
	margin: 0 3em 2em 0;
}
#chat-lg p + footer{
	font-size: .8em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: italic;
	padding: .8em 1.2em;

}
#chat-lg p + footer p{
	padding: 0;
	color: #a6a6a6;
}
@media only screen and (max-width: 40em) {
	#chat-lg ol{
		padding: 0;
	}
	#chat-lg li{
		width: 75%;
	}
	#chat-lg li:nth-of-type(1),
	#chat-lg li:nth-of-type(3){
		margin: 0 1em 2em 0;
	}
	#chat-lg li:nth-of-type(2){
		margin: 0 0 2em 1em;
	}
}  
#chat-lg ol li > p{
	background: #F5F5F5;
	color: #1E3746;
	padding: 1em;
	margin: 0;
	font-weight: 300;
	border-radius: 2em 2em 0em 2em;
}
#chat-lg li:nth-of-type(1) > p,
#chat-lg li:nth-of-type(3) > p{
	background: #FFE164;
}
[data-status="READ"]{
	color: #B6CA2B !important;
}
[data-status="DELIVERED"]{
	color: #F6CC02 !important;
}
time{
	text-transform: lowercase;
}
#chat-lg form{
	background: #FFE164;
    width: 100%;
    padding: 2em;
    box-sizing: border-box;
    margin: 0 auto;
    clear: both;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	#chat-lg form{
		padding: 2.5em 10%;
	}
}
@media only screen and (min-width: 64.063em) {
	#chat-lg form{
		width: 100%;
    	padding: 2em 20%;
    	box-sizing: border-box;
	}
}
label[for="field-message"]{
	margin-bottom: 1em;
    display: inline-block;
}
textarea{
	display: block;
    width: 100%;
    margin: 0 auto;
    min-height: 1em;
    line-height: 1.5;
    resize: none;
    box-sizing: border-box;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	textarea{
		min-height: 2em;
		padding: 2em;
	}
}
/* /CHAT */
/* LOGIN */
#login-lg{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4em 0;
}
#login-lg form{
	background: #FFE164;
	width: 60%;
	/*height: 50%;*/
	padding: 2em;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	#login-lg form{
		width: 50%;
	}
}
@media only screen and (min-width: 64.063em) {
	#login-lg form{
		width: 30%;
	}
}
#login-lg form input{
	box-sizing: border-box;
	font-size: .9em;
}
label[for="field-email"],
label[for="field-password"],
input[name="field-email"],
input[name="field-password"]{
	display: block;
	width: 100%;
}
label[for="field-email"],
label[for="field-password"]{
	margin-bottom: .5em;
	font-size: .95em;
	padding: .5em 0 0;
}
input[name="field-email"],
input[name="field-password"]{
	margin-bottom: 1em;
}
input[name="field-email"]:not(:focus) + .instruction:not(hover),
input[name="field-password"]:not(:focus) + .instruction:not(hover){
	transform: scale(0);
	transition: .25s transform;
}
.instruction{
	transition: .5s cubic-bezier(.25,.1,.3,1.5) transform;
	transform-origin: 1.4em -.4em;
}
.instruction {	
	position: absolute;
	max-width: 14em;
	padding: .6em .8em;
	border-radius: .3em;
	margin: .3em 0 0 -.2em;
	background: #fed;
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: .05em .2em .6em rgba(0,0,0,.2);
	font-size: 75%;
}
.instruction:before {
	content: "";
	position: absolute;
	top: -.4em;
	left: 1em;
	padding: .35em;
	background: inherit;
	border: inherit;
	border-right: 0;
	border-bottom: 0;
	transform: rotate(45deg);
}
input[name="field-email"]:valid,
input[name="field-password"]:valid{
	border: 3px solid #6aaf5c;
	background: #6aaf5c;
	color: #fff;
}
input[name="field-password"]:invalid ~ button[type="submit"]{
	background: #e2c653;
	color
}
label[for="field-stay-logged-in"]{
	float: left;
	font-size: .8em;
}
input[name="field-stay-logged-in"]{
	float: left;
}
input[name="field-stay-logged-in"]:hover,
input[name="field-stay-logged-in"]:focus{
	background: #000;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	[for="field-stay-logged-in"]{
		display: inline-block;
		width: 50%;
	}
	[for="field-stay-logged-in"] + a{
		display: inline-block;
		width: 25%;
	}
}
label[for="field-stay-logged-in"] + a{
	font-style: italic;
    color: #414141;
    font-size: .8em;
    margin: 0 0 2em;
    text-decoration: none;
    float: right;
}
label[for="field-stay-logged-in"] + a:visited{
	color: #414141;
}
label[for="field-stay-logged-in"] + a:hover,
label[for="field-stay-logged-in"] + a:focus{
	text-decoration: underline;
}
/* /LOGIN */
/* MEDIA-ITEM */
#mediaitem-lg article{
	position: relative;
	background: #fff;
	width: 60%;
	margin: 2em auto;
	padding: 1em 2em;
	box-sizing: border-box;
}
#mediaitem-lg  article img{
	float: left;
	margin-right: 1em;
}
#mediaitem-lg h1 a{
	text-decoration: none;
	margin-top: 0;
	padding-top: 0;
}
#mediaitem-lg h1 a::after{
	content: '';
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
@media only screen and (max-width: 40em) {
	article{
		width: 90% !important;
	}
	#mediaitem-lg article img{
		width: 100% !important;
		margin: 0 0 1.5em;
	}
}
/* /MEDIA-ITEM */
/* PICTURE WITH SUBTITLE */
#picture-with-subtitle-lg{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background: hsl(203, 40%, 20%);
	background-image: 
		linear-gradient(90deg, #FFE164 11px, transparent 0),
		linear-gradient(90deg, #64D7D7 23px, transparent 0);
	background-size: 83px 100%, 61px 100%, 90px 100%;
}
#picture-with-subtitle-lg article{
	align-self: center;
	background: #fff;
	width: 70%;
	margin: 4em 0;
	padding: 2em;
	box-sizing: border-box;
}
@media only screen and (max-width: 40em) {
	#picture-with-subtitle-lg article{
		padding: 0;
	}
}
#picture-with-subtitle-lg img{
	width: 100%;
}
@media only screen and (orientation : landscape){
	#picture-with-subtitle-lg figure img:nth-of-type(1){
		display: none;
	}
	#picture-with-subtitle-lg figure img:nth-of-type(2){
		display: block;
	}
}
@media only screen and (orientation : portrait){
	#picture-with-subtitle-lg figure img:nth-of-type(1){
		display: block;
	}
	#picture-with-subtitle-lg figure img:nth-of-type(2){
		display: none;
	}
}
#picture-with-subtitle-lg figure{
	padding: 0;
	margin: 0;
}
#picture-with-subtitle-lg figcaption{
    width: 100%;
    padding: 1em 2em 2em;
    margin: 0 auto;
    background: #FFE164;
    box-sizing: border-box;
}
#picture-with-subtitle-lg p{
	max-width: 40em;
}
#picture-with-subtitle-lg figcaption a{
	color: #414141;
}
#picture-with-subtitle-lg figcaption a:hover,
#picture-with-subtitle-lg figcaption a:focus{
	text-decoration: underline;
}
#picture-with-subtitle-lg footer{
	font-size: .7em;
    margin-top: 2em;
}
/* /PICTURE WITH SUBTITLE 
/* RATING */
#rating-lg fieldset{
	width: 30%;
	margin: 3em auto;
	background: none;
	border: none;
	padding: 1em;
}
@media only screen and (max-width: 40em) {
	#rating-lg fieldset{
		width: 80%;
	}
}
#rating-lg legend{
	color: #fff;
	text-align: center;
	width: 100%;
}
#rating-lg label{
	position: relative;
	float: left;
	width: 25%;
}
#rating-lg input{
	position: absolute;
	-moz-appearance:none;
    -webkit-appearance:none;
    display:inline-block;
    width: 100%;
    height: 100%; 
    margin:0;
    padding:0;
    z-index: 2;
    opacity: 0;
    background: #fff;
	cursor: pointer;
}
#rating-lg input:indeterminate + svg{
	opacity: .5;
}
#rating-lg input:focus{
	opacity: 0;
	outline: 0;
	border: 0;
}
#rating-lg input:focus + svg,
#rating-lg input:checked + svg
{
	opacity: 1;
}
#rating-lg input:not(:focus) + svg{
	opacity: .5;
}
#rating-lg input:hover + svg{
	opacity: 1;
	transition: .5s cubic-bezier(.25,.1,.3,1.5);
}

/* /RATING */
/* NAVIGATION */
#navigation-lg nav{
	background: #FFE164;
	width: 60%;
	margin: 2em auto 11em;
	white-space: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
#navigation-lg nav > ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 3em;
	line-height: 3em;
}
#navigation-lg a{
	position: relative;
	background: #FFE164;
	display: inline-block;
	text-decoration: none;
	color: #1E3746;
	padding: 0 2em;
	cursor: pointer;
}
#navigation-lg a:visited{
	color: #1E3746;
}
#navigation-lg a:hover,
#navigation-lg a:focus{
	background: #64D7D7;
}

#navigation-lg a:hover ul{
	display: block;
	z-index: 1;
}
#navigation-lg nav ul ul{
	display: none;
}
#navigation-lg a:hover + ul,
#navigation-lg a:focus + ul{
	position: absolute;
	list-style-type: none;
	padding: 0;
	display: block;
}
#navigation-lg nav ul ul a{
	width: 6em;
}
@media only screen and (max-width: 40em) {
	#navigation-lg nav{
		width: 80%;
	}
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	#navigation-lg nav{
		width: 90%;
	}
}
/* /NAVIGATION */
/* STEP-INDICATOR */
#step-indicator-lg{
	color: #414141;
	font-weight: 300;
}
#step-indicator-lg nav{
	background: #fff;
    width: 70%;
    margin: 3em auto;
    padding: 2em;
}
#step-indicator-lg h1{
	margin: 0 0 1em;
	padding: 0;
}
progress{
	width: 80%;
	display: block;
	margin: 0 auto 1em;
}
@media only screen and (max-width: 40em) {
	progress{
		width: 100%;
	}
}
progress[value]{
	-webkit-appearance: none;
   	appearance: none;
}
progress[value]::-webkit-progress-bar{
	background-color: #eee;
  	border-radius: 1em;
  	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
	background: #64D7D7;
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(left, #FFE164, #56B74D);
    border-radius: 1em; 
}
#step-indicator-lg ol{
	display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
@media only screen and (max-width: 40em) {
	#step-indicator-lg ol{
		width: 90%;
		font-size: .6em;
	}
}
#step-indicator-lg li{
	min-width: 20%;
	text-align: center;
}
@media only screen and (max-width: 40em) {
	#step-indicator-lg li{
		width: 25%;
	}
}
#step-indicator-lg li a,
#step-indicator-lg li a:visited{
	display: inline-block;
	color: #c5c5c5;
}
#step-indicator-lg li a:hover{
	text-decoration: underline;
}
#step-indicator-lg a[aria-label="Address, current step"]{
	color: inherit !important;
	font-weight: 700;
}
/* /STEP-INDICATOR */
/* LOADING-SPINNER */
.spinner{
	border: 1em solid #FFE164;
	border-radius: 50%;
	border-top: 1em solid #64D7D7;
	width: 5em;
	height: 5em;
	margin: 2em auto;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
/* source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader */

/* /LOADING-SPINNER */

/* De-emphasize: http://codepen.io/gschier/pen/HCoqh?editors=1100; 